@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Gothic+Expanded+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {

  --font-landing-page: "Special Gothic Expanded One", sans-serif;
  --color-primary: #5044E5;
  --color-dark-bg: #0f172a;
  --color-dark-card: #1e293b;
  --color-dark-accent: #6366f1;
  --color-dark-accent-hover: #4f46e5;
  --color-dark-text: #f8fafc;
  --color-dark-text-muted: #94a3b8;
  --color-dark-border: #334155;
}



.reset-tw,
.reset-tw * {
  all: revert !important;
}

.landing-font {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 3px;
}

.markdown-body {
  color: rgba(255, 255, 255, 0.543) !important;
  letter-spacing: 1px !important;
}
